<div class="itsaf-line">
  <div class="itsaf-bar">

    <select name="filterColumn" id="filterColumn" class="itsaf-bar-item">
      <option value="-1">*</option>
      {{#each .}}
        <option value="{{@index}}">{{.}}</option>
      {{/each}}
    </select>
    
    <input type="text" class="itsaf-bar-item" />

    <input type="button"
      id="addbtn"
      class="itsaf-bar-item itsaf-btn" 
      value="add" 
      />
  </div>
</div>