<div
  id="{{id}}"
  class='itsaf-rule rule
  {{#if deactivated}}
    itsaf-deactivated
  {{else}}
    {{#if match}}
      itsaf-match
    {{else}}
      itsaf-notmatch
    {{/if}}
  {{/if}}
  '
  draggable="true"
  ondragstart="event.dataTransfer.setData('ruleId',{{id}})"
  {{#if deactivated}}style="text-decoration: line-through"{{/if}}
>{{text}} <span class="itsaf-close delete">&#x2717</span></div>