.itsaf {
  background: #e6e6e6;
  color: indigo;
  font-size: x-small;
  padding: 1px 0;
}
.itsaf-line {
  background-color: snow;
  padding: 0 2px;
  margin: 3px;
}
.itsaf-rule {
  display: inline-block;
  border-radius: 10px;
  padding: 2px 12px;
  margin: 2px;
  cursor: grab;
}
.itsaf-deactivated {
  text-decoration: line-through;
  color: lightsteelblue;
}
.itsaf-match {
  background-color: lightgreen;
}
.itsaf-notmatch {
  background-color: orange;
}
.itsaf-bar {
  width: 100%;
  overflow: hidden;
}
.itsaf-bar-item {
  padding: 4px 8px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}
.itsaf-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.itsaf-btn {
  border: none;
  display: inline-block;
  padding: 4px 8px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.itsaf-btn:hover {
  color: #000 !important;
  background-color: deepskyblue !important;
}
.itsaf :focus {
  color: #000 !important;
  background-color: lightblue !important;
}
.itsaf-close {
  font-size: small;
  cursor: pointer;
}
.itsaf-close:hover {
  color: red;
}
